{% extends 'base.html' %} {% block content %}
<div
  class="modal fade"
  id="addItemModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addItemModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" width="500px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addItemModalLabel">Payment</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="text-center">
                <div class=""><h2 style="color:#0fad00">Payement Successful</h2>
                <img src="/static/img/success.gif">
                <h3>Amout Paid:<span id="amt"></span></h3>
                <div class="h4">Order Details:</div>
                  <p style="color: #000;">Invoice No: {{user.uid}}</p>
                  <p style="color: #000;">Shipping Address: {{user.address}}</p>
                  <p style="color: #000;">Pincode: {{user.pincode}}</p>
                  <p style="color: #000;">Mode of payment: Google Pay</p>
                  <img src="/static/img/rp.png" alt="rp">
            <br>
            <br>
            </div>
                
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <section class="py-5">
    <!-- BILLING ADDRESS-->
    <div class="container h-100 d-flex justify-content-center">
      <!-- ORDER SUMMARY-->
      <div class="col-lg-4">
        <h2 class="h2 text-uppercase mb-4 mx-auto">Billing details</h2>
        <div class="card border-0 rounded-0 bg-light">
          <div class="card-body" style="font-size: 20px">
            <h5 class="text-uppercase mb-4">Your order</h5>
            <ul
              class="list-unstyled mb-0"
              style="height: 200px; overflow-x: hidden; overflow-y: scroll"
              id="pd"
            ></ul>
            <li class="d-flex align-items-center justify-content-between">
              <strong class="text-uppercase small font-weight-bold"
                >Total</strong
              ><span id="tot"></span>
            </li>
          </div>
          <button type="button" id="pay" class="w-100 btn btn-primary" data-toggle="modal" data-target="#addItemModal">
            Buy
           </button>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  total = 0;
  JSON.parse(localStorage.getItem("12312343")).map((ele) => {
    total += ele["price"] * ele["qty"];
    $("#pd")
      .append(` <li class="d-flex align-items-center justify-content-between"><img width="50px" height="50px" src="${ele[
      "img"
    ].substring(1)}" alt="logo"/><strong class="small font-weight-bold">${
      ele["name"]
    } (${ele["qty"]})</strong><span class="text-muted small">Rs. ${
      ele["price"]
    }</span></li>
            <li class="border-bottom my-2"></li>`);
  });
  if(total === 0){
    $("#pay").attr('disabled','disabled');
  }
  $("#tot").text("Rs." + total.toString());
  $("#amt").text("Rs." + total.toString());
</script>
{% endblock content %}
